/* inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* maima font */
@import url("https://fonts.cdnfonts.com/css/miama");

/* sheared Style */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color: var(--secondary-color);
  background: rgba(17, 17, 17, 1);
}

:root {
  --primary-color: #e6533c;
  --secondary-color: #fff;
  --tertiary-color: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

.button {
  --button-bg-color: #e6533c;
  --button-padding: 16px 40px;
  --button-radius: 42px;

  background-color: var(--button-bg-color);
  color: var(--secondary-color);

  border-radius: var(--button-radius);
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: var(--button-padding);
  cursor: pointer;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  margin-top: 100px;
}

.section-title {
  --text-align: center;
  --margin-center: 0 auto;

  font-size: 3rem;
  font-weight: 900;
  text-align: var(--text-align);
  max-width: 650px;
  margin: var(--margin-center);
}

.section-description {
  --text-align: center;
  --margin-around: 14px auto 58px auto;

  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: var(--text-align);
  margin: var(--margin-around);
  max-width: 650px;
}

/* Header Style */
.header {
  margin-top: 57px;
  background: linear-gradient(90deg, #0d0d0d, #1a1a1a);
}

/* Navbar Style */
.navbar {
  justify-content: space-between;
}

.logo a {
  font-size: 2.2rem;
  color: #e6533c;
  font-style: italic;
  font-weight: 800;
}

.nav-links {
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}

.nav-link {
  margin-right: 47px;
  padding: 8px 20px;
  border-radius: 46px;
}

#for-small-device {
  display: none;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link a {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.active-link {
  background-color: var(--primary-color);
}

/* banner Style */
.banner {
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.banner-content {
  max-width: 50%;
}

.banner-title {
  font-weight: 900;
  font-size: 4.8rem;
  color: var(--secondary-color);
  line-height: 93px;
}

.shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.banner-description {
  color: var(--tertiary-color);
  margin: 28px 0;
  line-height: 24px;
}

.join-to-club {
  margin-right: 14px;
}

.download-app {
  --button-bg-color: transparent;
  background-color: var(--button-bg-color);
  border: 1px solid #fff;
}

.image-container {
  position: relative;
}

.video-tutorial-badge {
  position: absolute;
  background: rgba(48, 48, 48, 0.54);
  padding: 20px 23px;
  border: none;
  gap: 12px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.circle {
  background-color: rgba(230, 83, 60, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-icon {
  width: 15px;
  height: 15px;
  background-color: #fff;
  clip-path: polygon(100% 50%, 0 100%, 0 0);
}

.content h4 {
  font-weight: 900;
  color: #fafaf9;
  font-size: 1.5rem;
  text-align: left;
}

.content p {
  text-align: left;
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
}

.badgeOne {
  top: 421px;
  left: -113px;
}

.badgeTwo {
  top: 125px;
  right: -74px;
}

/* habit section  */
.habit-items {
  justify-content: space-between;
  align-items: center;
}

.habit-item {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habit-item img {
  border-radius: 50%;
  align-items: center;
}

.habit-title {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}

.habit-description {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 6px;
}

/* run section */
.run-section {
  justify-content: space-between;
  align-items: center;
  padding: 30px 32px 29px 54px;
  background-color: #222222;
  border-radius: 18px;
  gap: 165px;
}

.run-section .content-container {
  max-width: 443px;
}

.run-section .img-container {
  max-width: 366px;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  object-fit: none;
  object-position: 67% 32%;
  zoom: 65%;

  /* scale: 1.33;
  overflow: hidden; */
}

.content-container .section-title,
.calculator-section .section-title {
  --text-align: left;
  text-align: var(--text-align);
}

.content-container .section-description {
  --text-align: left;
  --margin-around: 14px auto 50px auto;

  text-align: var(--text-align);
  margin: var(--margin-around);
}

/* calculator-section  */
.calculator-section .section-description {
  --text-align: left;
  --margin-around: 14px auto 88px auto;
  text-align: var(--text-align);
}

.calculate {
  justify-content: space-between;
}

.BMI-content {
  background-color: #222222;
  padding: 50px 0;
}

.BMI-content .chart-title {
  font-weight: 900;
  font-size: 1.8rem;
  margin-bottom: 52px;
}

table {
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding: 13px 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.chart-table th {
  font-weight: 500;
}

.chart-table td {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}

.your-BMI {
  max-width: 570px;
}

.your-BMI .section-title {
  font-size: 1.8rem;
}

.your-BMI .section-description {
  --margin-around: 14px auto 38px auto;

  margin: var(--margin-around);
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

input,
select,
textarea {
  width: calc(100% - 60px);
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  color: #ffffff99;
  outline: none;
  border: none;
  background: #ffffff1a;
  cursor: pointer;
}

select {
  border-right: 16px solid transparent;
  width: 100%;
}

select:nth-of-type(2) {
  grid-column: span 2;
}

form :nth-last-child(1) {
  margin-top: 24px;
  max-width: 224px;
}

form select option {
  background-color: #333;
  color: #ffffff99;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

/* our-team section start */
.our-team {
  margin: 88px 0;
}
.gallery-container {
  background-color: #ffffff1a;
  padding: 20px;
  border-radius: 18px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 212px;
  padding-bottom: 16px;
  /* padding: 212px auto 16px 19px; */
  border-radius: 18px;
}

.gallery-title {
  font-weight: 900;
  font-size: 1.25rem;
  padding-left: 19px;
}

.gallery-description {
  color: #ffffff80;
  font-size: 0.9rem;
  padding-left: 19px;
}

/* contact section */
.contact-section {
  margin-bottom: 60px;
}

.contact-section .section-description {
  margin-bottom: 30px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #222222;
  max-width: calc(100% - 40px);
  padding: 20px;
  border-radius: 18px;
}

.contact-form input,
.contact-form textarea {
  appearance: none;
}

.contact-form form :nth-last-child(2),
.contact-form form :nth-last-child(3) {
  grid-column: span 2;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* footer section */
footer {
  background: #ffffff1a;
  padding-top: 66px;
}

.footer-section {
  justify-content: space-between;
  margin-bottom: 80px;
}

.company-info {
  max-width: 50%;
}

.company-info .logo {
  font-size: 4rem;
  color: #e6533c;
  font-style: italic;
  font-weight: 800;
}

.company-info .description {
  font-size: 0.9 rem;
  color: #ffffff80;
  margin-top: 20px;
}

.footer-links h4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-links li {
  margin-bottom: 10px;
}
.footer-links li a {
  font-size: 1.5 rem;
  color: #ffffff80;
}

.copyright {
  font-size: 1.3 rem;
  padding: 35px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* media query for small devices */
@media screen and (max-width: 576px) {
  /* sheared style */
  .section-title {
    font-size: 2rem;
    line-height: 38px;
  }

  .section-description {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 24px;
  }

  .container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .banner,
  .habit-items,
  .calculate,
  .run-section,
  .footer-section {
    flex-direction: column;
  }

  /* header section */
  .header {
    margin-top: 52px;
  }

  .nav-links {
    border: none;
    justify-content: end;
  }

  .nav-link {
    display: none;
  }

  #for-small-device {
    display: block;
    margin-right: 0;
  }

  .banner {
    margin-top: 51px;
    align-items: flex-start;
  }

  .banner-content {
    max-width: 100%;
    text-align: left;
  }

  .banner-title {
    max-width: 285px;

    text-align: left;
    font-size: 2.2rem;
    line-height: 43px;
  }

  .banner-description {
    max-width: 274px;
  }

  .club {
    display: none;
  }

  .subscribe-button {
    display: flex;
    flex-direction: row;
  }

  .image-container {
    margin-top: 48px;
  }
  .video-tutorial-badge {
    padding: 12px 18px;
  }

  .video-tutorial-badge .badgeTwo .content h4 {
    font-size: 1.9rem;
    letter-spacing: 0.76px;
  }

  .video-tutorial-badge .content p {
    font-size: 0.6rem;
    letter-spacing: 0.76px;
  }

  .badgeOne {
    top: 271px;
    left: 12px;
  }

  .badgeTwo {
    top: 47px;
    right: 12px;
  }

  .badgeOne h4 {
    font-size: 1.1rem;
    letter-spacing: 0.23px;
  }

  .badgeOne p {
    font-size: 0.8rem;
    letter-spacing: 0.38px;
  }

  /* habit section */
  .habit-section {
    max-width: 318px;
    margin: 0 auto;
  }

  .habit-items {
    gap: 40px;
  }

  .habit-title {
    margin-top: 30px;
  }

  /* run section */
  .run-section {
    align-items: flex-start;
    padding: 31px 33px;
    gap: 31px;
  }

  .run-section .content-container,
  .run-section .img-container {
    width: 100%;
  }

  .run-section .content-container .section-title {
    max-width: 100%;
    text-align: left;
    margin: 0;
  }

  .run-section .content-container .section-description {
    max-width: 100%;
    text-align: left;
    margin: 14px 0 24px 0;
  }

  .run-section .content-container .button {
    width: 100%;
    line-height: 22px;
  }

  .run-section .img-container img {
    max-width: 100%;
    object-position: 70% 10%;
    zoom: 26%;
  }

  /* calculator section */
  .calculator-section .section-description {
    margin-bottom: 32px;
  }

  .calculate {
    gap: 42px;
    max-width: 100%;
  }

  .BMI-content {
    padding-top: 34px;
  }

  .BMI-content .calculator-chart .chart-title {
    margin-bottom: 23px;
    font-size: 1.2rem;
  }

  .your-BMI .section-title {
    font-size: 1.2rem;
    line-height: 19px;
  }

  .your-BMI .section-description {
    letter-spacing: 0.3px;
  }

  .BMI-content {
    padding-bottom: 43px;
  }

  /* our team */
  .our-team {
    margin: 66px 0;
  }

  .our-team .section-title,
  .our-team .section-description {
    max-width: 316px;
  }

  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* footer section  */
  footer {
    padding-top: 44px;
  }
  .footer-section {
    gap: 30px;
    margin-bottom: 72px;
  }
}
